.productImgContainer {
	position: relative;
	height: auto;
	cursor: pointer;
}

.productImgContainer img {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
	object-position: top;
}

.productThumbnails {
	display: none;
}

.carouselModal {
	display: none;
}

.buttonControl {
	position: absolute;
	background: var(--white);
	border-radius: 9999px;
	width: 32px;
	height: 32px;
	top: 45%;
}

.buttonControl svg {
	stroke: var(--text-primary);
}

.buttonControl:hover > svg {
	stroke: var(--primary-color);
}

.previous {
	left: 10px;
}

.next {
	right: 10px;
}

.productInfo {
	padding: 1.25em;
}

.companyName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.productName {
	margin-top: 10px;
	color: var(--text-primary);
	font-size: 1.7em;
}

.productDescription {
	margin: 16px 0;
	font-size: 0.875em;
	line-height: 1.6;
	color: var(--text-secondary);
}

.productPrice {
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.productPriceWrapper {
	display: flex;
	align-items: center;
}

.productCurrentPrice {
	color: var(--text-primary);
	font-size: 1.5em;
	margin-right: 8px;
}

.productDiscount {
	border-radius: var(--border-radius);
	background-color: var(--secondary-color);
	padding: 4px 8px;
}

.productDiscount span {
	font-size: 0.875em;
	color: var(--primary-color);
}

.productOriginalPrice {
	color: var(--color-disabled);
	font-size: 0.875em;
	text-decoration: line-through;
}

.productCount {
	background-color: var(--background);
	display: flex;
	font-weight: 700;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	margin: 8px 0;
	border-radius: 8px;
}

.productCount span {
	color: var(--text-primary);
}

.productCount button {
	background: none;
	display: grid;
	place-content: center;
}

@media screen and (min-width: 500px) {
	.productWrapper {
		padding: 0.75em 0;
		width: 70%;
		margin: auto;
	}
	
	.productImgContainer {
		margin: auto;
		width: 340px;
	}
	
	.productInfo {
		padding: 0;
	}
	
	.productImgContainer img {
		border-radius: var(--border-radius);
		object-position: center;
		object-fit: cover;
		max-height: 360px;
	}
	
	.buttonControl {
		display: none;
	}
	
	.productThumbnails {
		margin: 20px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 16px;
	}
	
	.productThumbnail {
		cursor: pointer;
		width: 68px;
		height: 68px;
		background: var(--white);
		border-radius: var(--border-radius);
		overflow: hidden;
	}
	
	.selected {
		border: 2px solid var(--primary-color);
	}
	
	.selected img {
		opacity: 0.2;
	}
	
	.productThumbnail img {
		width: 100%;
		height: auto;
	}
	
	.productThumbnail:hover > img {
		opacity: 0.6;
	}
}

/* Carousel Modal */
@media screen and (min-width: 500px) {
	.carouselModal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 25;
		bottom: 0;
		background: var(--modal);
	}
	
	.carouselModal .productImgContainer {
		width: 430px;
	}
	
	.carouselModal .productImgContainer img {
		max-height: none;
		height: 430px;
	}
	
	.carouselModal .productImgContainer .buttonControl {
		display: block;
		height: 45px;
		width: 45px;
	}
	
	.previous {
		left: -20px;
	}
	
	.next {
		right: -20px;
	}
	
	.closeCarouselModal {
		background: none;
		fill: var(--white);
		transform: translate(205px, -5px);
	}
	
	.closeCarouselModal:hover {
		fill: var(--primary-color);
	}
	
	.carouselModal .productThumbnails {
		justify-content: center;
	}
}

@media screen and (min-width: 1024px) {
	.productWrapper {
		height: 80vh;
		display: flex;
		align-items: center;
		gap: 0 8px;
		justify-content: space-between;
	}
	
	.productImgContainer {
		margin: 0;
		border-radius: var(--border-radius);
	}
	
	.productInfo {
		padding: 0;
		width: 45%;
	}
	
	.companyName {
		font-size: 0.75em;
	}
	
	.productName {
		margin-top: 16px;
		font-size: 2.75em;
	}
	
	.productDescription {
		margin: 20px 0;
		font-size: 1em;
	}
	
	.productPrice {
		display: block;
	}
	
	.productOriginalPrice {
		margin-top: 8px;
	}
	
	.buyProductContainer {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 16px;
	}
	
	.productCount {
		width: 200px;
	}

	.productThumbnails {
		justify-content: space-between;
	}
}

@media screen and (min-width: 1280px) {
	.productWrapper {
		justify-content: space-around;
	}
	
	.productImgContainer {
		width: 400px;
	}
	
	.productThumbnail {
		width: 76px;
		height: 76px;
	}
	
	.productInfo {
		width: 40%;
	}
	
	.productImgContainer img {
		max-height: 420px;
	}
}